<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=DM+Serif+Display&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <script defer src="js/style.js"></script>

    <script defer src="app.js"></script>
    <title>Mehmet Mobilya</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">
          <a href="/"><img src="assets/MEHMET.png" alt="Logo" /></a>
        </div>
        <div class="hamburger-menu">
          <img src="assets/more.png" alt="Menüyü göster." />
        </div>
        <ul>
          <!-- bu linkleri request'in hangi sayfadan geldiğine göre değiştirmem lazım -->
          <li class="current-section"><a href="#home">Ana Sayfa</a></li>
          <li><a href="#about-us">Hakkımızda</a></li>
          <li><a href="#our-products">Ürünlerimiz</a></li>
          <li><a href="#contact">İletişim</a></li>
          <li><a href="/gallery">Galeri</a></li>
        </ul>
        <div class="socials">
          <div>
            <a href=""
              ><img src="assets/whatsapp-logo.png" alt="Whatsapp logosu"
            /></a>
          </div>
          <div>
            <a href=""
              ><img src="assets/phone-call.png" alt="Telefon ikonu"
            /></a>
          </div>
          <div>
            <a href=""
              ><img src="assets/instagram-logo.png" alt="Instagram logosu"
            /></a>
          </div>
        </div>
      </nav>
    </header>
  </body>
</html>
