<%- include("partials/header") %>

<main>
  <header>
    <nav>
      <div class="logo">
        <a href="/"><img src="assets/MEHMET.png" alt="Logo" /></a>
      </div>
      <div class="hamburger-menu">
        <img src="assets/more.png" alt="Menüyü göster." />
      </div>
      <ul>
        <li><a href="#home">Ana Sayfa</a></li>
        <li><a href="#about-us">Hakkımızda</a></li>
        <li><a href="#our-products">Ürünlerimiz</a></li>
        <li><a href="#contact">İletişim</a></li>
        <li><a href="/gallery">Galeri</a></li>
      </ul>
      <div class="socials">
        <div>
          <a href=""
            ><img src="assets/whatsapp-logo.png" alt="Whatsapp logosu"
          /></a>
        </div>
        <div>
          <a href=""><img src="assets/phone-call.png" alt="Telefon ikonu" /></a>
        </div>
        <div>
          <a href=""
            ><img src="assets/instagram-logo.png" alt="Instagram logosu"
          /></a>
        </div>
      </div>
    </nav>
  </header>
  <section id="home">
    <div class="intro">
      <div class="intro-content">
        <div class="intro-heading-container">
          <ul>
            <li><h1 class="intro-heading">20 yıllık tecrübe</h1></li>
            <li><h1 class="intro-heading">Vizyonunuzu gerçekleştirin</h1></li>
            <li><h1 class="intro-heading">Kalitenin adresi</h1></li>
            <li><h1 class="intro-heading">Tamir ve tadilat işleri</h1></li>
            <li><h1 class="intro-heading">7/24 destek</h1></li>
          </ul>
        </div>
        <button class="contact-us-btn btn">Bize ulaşın</button>
      </div>
      <div class="intro-image">
        <img src="assets/intro-grid.png" alt="Mobilya resimleri" />
      </div>
    </div>
  </section>
  <section id="about-us">
    <div class="carpenter-container">
      <div class="circle">
        <img
          class="carpenter-man"
          src="assets/carpenter.png"
          alt="Marangoz ikonu"
        />
      </div>
    </div>
    <div class="about-us-text-container">
      <div class="about-us-heading">
        <h2>Hakkımızda</h2>
      </div>
      <div class="about-us-text">
        <p>
          Yıllardır marangozluk sektöründe birikmiş deneyimimizle,
          müşterilerimize özel ve kişiselleştirilmiş hizmetler sunmaktayız.
          Misyonumuz, ahşap malzemeleri hayata geçirirken zarafeti,
          dayanıklılığı ve işlevselliği bir araya getirmektir. Müşteri
          memnuniyeti bizim için en üst önceliktir ve her projede en yüksek
          kaliteyi sağlamak için titizlikle çalışırız.
        </p>
      </div>
    </div>
  </section>
  <section id="our-products">
    <div class="our-products-heading">
      <h2>Popüler Ürünlerimiz</h2>
    </div>

    <div class="cards">
      <div class="card">
        <img src="assets/card-1.jpg" />
        <div class="card-shadow"></div>
        <div class="card-text">
          <h3>Bahçe mobilyası</h3>
          <div class="card-info">
            <p>Rahatlığın ve zarafetin buluştuğu açık hava keyfi.</p>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="assets/card-2.jpg" />
        <div class="card-shadow"></div>
        <div class="card-text">
          <h3>Mutfak mobilyası</h3>
          <div class="card-info">
            <p>Şıklık ve fonksiyonun birleştiği mutfağınıza özel tasarımlar.</p>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="assets/card-3.jpg" />
        <div class="card-shadow"></div>
        <div class="card-text">
          <h3>Banyo mobilyası</h3>
          <div class="card-info">
            <p>Estetik ve düzenin bir araya geldiği özel banyo çözümleri.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="contact">
    <div class="contact-heading"><h2>İletişim</h2></div>

    <div class="options">
      <div class="option-1">
        <div class="heading">
          <img src="assets/contact.png" />
          <h3>Arayın veya mesaj atın</h3>
        </div>
        <div class="option-whatsapp">
          <img src="assets/whatsapp-logo.png" alt="Whatsapp logosu" />
          <h3>0537 879 24 64</h3>
        </div>
        <div class="option-phone">
          <img src="assets/phone-call.png" alt="Telefon ikonu" />
          <h3>0537 879 24 64</h3>
        </div>
        <div class="option-email">
          <img src="assets/email.png" alt="Email ikonu" />
          <h3>mehmet@gmail.com</h3>
        </div>
      </div>
      <div class="option-2">
        <div class="heading">
          <img src="assets/support.png" />
          <h3>İhtiyacınızı yazın, hemen dönelim</h3>
        </div>
        <form action="">
          <div class="input-container">
            <div class="your-name">
              <div class="input-text">
                <label for="Your Name">Adınız</label>
              </div>
              <input type="text" name="Your Name" id="Your Name" />
            </div>
            <div class="phone-number">
              <div class="input-text">
                <label for="Phone Number">Telefon Numaranız</label>
              </div>

              <input
                type="tel"
                placeholder="555 555 55 55"
                name="Phone Number"
                id="Phone Number"
              />
            </div>
            <div class="your-need">
              <div class="input-text">
                <label for="Your Need">İhtiyacınız</label>
              </div>
              <textarea name="Your Need" id="Your Need"></textarea>
            </div>
            <button type="submit" class="send-btn btn">Gönder</button>
          </div>
        </form>
      </div>
      <div class="option-3">
        <div class="heading">
          <img src="assets/gps.png" />
          <h3>Hizmet Verdiğimiz İlçeler</h3>
        </div>
        <ul>
          <li>Pendik</li>
          <li>Kartal</li>
          <li>Maltepe</li>
          <li>Kadıköy</li>
          <li>Kurtköy</li>
        </ul>
        <h4>İlçeniz listede yok mu?</h4>
      </div>
    </div>
  </section>
</main>

<%- include("partials/footer") %>
